main{
    text-align: center;

    width: 50vw;
    margin-right: auto;
    margin-left: auto;
}
form{
    width: 25vw;

    padding: 1vh 2.5vw;

    margin-right: auto;
    margin-left: auto;

    background-color: white;
    margin-top: 5vh;
}

.form-entry{
    margin: 2.5vh 0;
}

.form-entry input{
    border: none;
    border-bottom: 1px solid var(--accent-blue);
}
.form-entry input:focus{
    color: var(--accent-blue);
}

.submit-button{
    background-color: var(--accent-blue);
    color: white;
}
.submit-button:hover{
    background-color: var(--accent-blue-darker);
    color: white;
}