@media print{
    body{
        font-size: 0.8rem !important;
    }

    div.alert{
        display: none !important;
    }

    table, tr, th, td{
        border: 1px solid #bbb;
    }
    table{
        border-collapse: collapse;
    }

    h5{
        font-size: 0.9rem;
    }

    main{
        margin-top: 5vh;
        width: 90%;
    }

    nav{
        display: none;
    }

    #bills-table{
        box-shadow: none;
    }

    .hide-print{
        display: none;
    }

    #company-logo > img{
        display: block;
    }

    table#tax_sum{
        width: 80%;
        box-shadow: none;
    }
}