main{
    width: 50vw;
}

#container{
    display: flex;
    flex-direction: row;

    align-items: stretch;
}
#container > div{
    flex: 1;

}
#container > div:last-child {
    padding-top: 5vh;
}

#jobs-data p{
    margin: auto;
    text-align: center;

    padding: 1vh 1vw;
}
#main-cell{
    flex: 4;
}
#secondary-cell{
    flex: 1;

    display: flex;
    flex-direction: column;

    align-content: center;
}
#secondary-cell > div.cell{
    flex: 1;
}

.cell{
    padding: 1vh 1vw;
    margin: 1vh 1vw;

    border-radius: 10px;

    text-align: center;

    transition: .3s ease-in-out;

    box-shadow: 0 0 5px #ddd;
}
.cell:hover{
    background-color: var(--accent-white);
}

.cell-icon{
    font-size: 4rem;
}
