.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.heading > *{
    margin: 1vh 1vw;
}

#bill-sides{
    display: flex;
    flex-display: row;
    justify-content: space-between;
}
#bill-sides > div:nth-child(2n){
    text-align: right;
}

#company-logo > img{
    width: 25%;
    height: auto;

    margin: 2.5vh 0;

    display: none;
}

.text-content{
    text-align: justify;
    width: 90%;

    margin: auto;
}